* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    padding: 40px 0 20px;
    color: rgb(230, 0, 0);
}

.container-big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    width: 80%;
}

.chart-container {
    margin-bottom: 40px;
    text-align: center;
}

.container {
    width: 60%;
}

.interaction .container {
    display: flex;
    justify-content: space-around;
}
